<!-- JQuery (cdn and local fallback) for the bootstrap plugins -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>if (!window.jQuery) {document.write('<script src="{{ site.baseurl }}/javascripts/jquery-2.1.4.min.js"><\/script>');}</script>
<script src="{{ site.baseurl }}/javascripts/bootstrap-modified.min.js"></script>
<script src="{{ site.baseurl }}/javascripts/modernizr-custom.min.js"></script>
<script src="{{ site.baseurl }}/javascripts/prettify/prettify-bundle.min.js"></script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-45094619-2");
pageTracker._trackPageview();
} catch(err) {}
</script>

{% include page-initialization-js.html %}
